.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 40px;
  max-width: 500px; 
  border-radius: 20px;
  margin: 75px auto;
}